/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

.container {
    background-color: #eaeaea;
}

.login {
    width: 100;
    height: 100vh;
    background-color: beige; 
    display: flex;
    justify-content: space-between;
}

.login .foto {
    width: 40% ;
    height: 100%;
    background-color: red;
    
}

.login .form {
    width: 50%;
    background-color: navy;
}

.register .foto {
    width: 40%;
    height: 100%;
    background-color:chocolate;
}

.register .form {
    width:  50%;
    background-color:cadetblue;
}

.register {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    
    display: flex;
    justify-content: space-between
}

.navbar {
    width: 100%;
    height: 140px;
    background-color:burlywood ;
    display: flex;
    align-items: center;
}

.navbar .logo  {
    width: 15%;
    height:  50%;
    padding-left: 5%;
}


.navbar .logo img {
    border-radius: 20%;
    height: 100%;
}

.navbar .content {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
}


.content .navigasi {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content .button {
    width: 15%;
    display: flex;
    justify-content: center;
    height: 30%;
    align-items: center;
}

.content .button button {
    width: 50%;
    height: 69%;
    background-color: green;
    color: white;
    border-radius: 4px;
}

.content .navigasi ul {
    display:flex;
    justify-content: center;
    width: 100%;
}

.content .navigasi ul li a {
    text-decoration: none;
    color: red;
    padding-left: 70px;
}

.content .navigasi ul li a:hover {
    color : wheat
}








.header {
    height: 200px;
    background-color: coral;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content .most {
    height: 100vh;
    background-color:blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content .latest {
    height: 100vh;
    background-color:rgb(116, 70, 159);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 250px;
    background-color: burlywood;

    display: flex;
    justify-content: center;
    align-items: center;
}
